<div class="header">
    <div class="header-left">
        <div class="header-logo">
            <img src="/assets/Frame.svg" alt="логотип сайта">
        </div>
        <nav class="header-nav1">
            <div class="header-nav-item1" >Главная</div>
            <div class="header-nav-item1">О компании</div>
            <div class="header-nav-item1">Каталог</div>
        </nav>
    </div>
    <div class="header-right">
        <div class="header-logo2">
            <img src="/assets/Phone.svg" alt="логотип сайта">
        </div>
        <div class="header-nav-item2">+7 (965) 084-29-29</div>
        <div>
            <img src="/assets/Vector.svg" alt="значок нравится">
        </div>
        <button class="button">Пусто</button>
    </div>
</div>

<div  class="header-buttom">
    <div class="header-buttom-left">
        <div class="buttom-logo">Каталог</div>
        <nav class="header-nav3">
            <div class="header-nav-item3">Стройматериалы</div>
            <div class="header-nav-item3">Инструменты</div>
            <div class="header-nav-item3">Электрика</div>
            <div class="header-nav-item3">Интерьер и одежда</div>
        </nav>
    </div>
    <div class="header-buttom-right">
        <form action="" method="get">
            <input name="s" placeholder="Поиск, например круг зачистной" type="text">
        </form>
        <div class="header-nav-item4">Москва</div>
    </div>
</div>
